<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785542764658-ebboq22vm6b77df6umd2b5526am7psk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785542764658-ebboq22vm6b77df6umd2b5526am7psk1</string>
	<key>API_KEY</key>
	<string>AIzaSyA0U-U3dYjSb6LlRQX_wr8UIjMD0lobX3M</string>
	<key>GCM_SENDER_ID</key>
	<string>785542764658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>renzhix.GameStepFB</string>
	<key>PROJECT_ID</key>
	<string>gamestepfb</string>
	<key>STORAGE_BUCKET</key>
	<string>gamestepfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785542764658:ios:ab96a9c8ae8835f4bc0aeb</string>
</dict>
</plist>